extends layout.pug
block content
    section.main
        main#graph(data-for-graph=data).upper
        main.lower.bg-dark-blue.pa2
        aside#info-panel.pa2.bl.b--light-gray.bg-near-white
    script(src="/main.js")