doctype html
html
    head
        title Applied
        link(rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css")
        link(rel="stylesheet" href="/style.css")
        script(src="https://aframe.io/releases/1.0.0/aframe.min.js")
        script(src="https://unpkg.com/aframe-environment-component/dist/aframe-environment-component.min.js")
        script(src="https://unpkg.com/aframe-forcegraph-component/dist/aframe-forcegraph-component.min.js")
        script(src="https://unpkg.com/apprun@latest/dist/apprun-html.js")
        script(src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js")
    body.bg-dark-pink.white.sans-serif
        nav.w-100.h3.bg-purple.white.pa4.flex.items-center
            a.dib.link.white(href="/") appli.ed
        block content
        script(src="/main.js")
