doctype html
html
    head
        title Applied
        link(rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css")
        link(rel="stylesheet" href="/style.css")
        link(rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        script(src="https://unpkg.com/apprun@latest/dist/apprun-html.js")
        script(nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js")
        script(src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js")

    body.sans-serif
        nav.w-100.h3.bg-dark-blue.white.pa4.flex.items-center
            a.dib.link.white(href="/") appli.ed
        block content
